@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0; margin: 0; box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    position: relative;
}

.app-container{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #98969b;
}

/* Navbar */
.navbar-container{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20%;
}
.nav-logo{
    display: block;
    width: 250px; height: 130px;

}

/* ////////FOOTER///////// */  
  .footer-container {
    background-color: transparent; /* Dark background for contrast */
    color: #fff; /* White text for readability */
    display: flex;
    justify-content: space-between; /* Space between the links and social media sections */
    align-items: center;
    height: 50px;
    text-align: center;
    margin-top: auto !important;
  }

  .links{
    /* From https://css.glass */
     
      position: absolute;
      z-index: 15;  
      /* From https://css.glass */
      background: rgba(89, 89, 89, 0.65);
      width: 100%;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     
     
  }
  
  .links a {
    
    color: black;
    margin: 0 15px; /* Space between each link */
    text-decoration: none; /* Remove underlines */
    font-size: 1rem; /* Increase font size */
    letter-spacing: 0.1cap;
    text-transform: uppercase;
  }
  
  .links a:hover {
    text-decoration: none; /* Underline on hover for accessibility */
    
  }
  
  .social-media a {
    display: none;
    color: #fff; /* White social media icons */
    margin: 0 10px; /* Space between each icon */
    font-size: 1.5em; /* Increase icon size */
    text-decoration: none; /* Remove underlines */
  }

  /* hero */
  .hero-container{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

  }

  .hero-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
   
  }

  

/* ///loader/// */
.my-svg {
  width: 300px; /* change width */
  height: 300px; /* change height */
  stroke-width: 10; /* change stroke width */
  animation: spin 2s linear infinite; /* Apply the spinning animation */
}

.svg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}

@keyframes spin {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.7);
  }
}




  

