@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    padding: 0; margin: 0; box-sizing: border-box;
}

body{
    font-family: "Cinzel", sans-serif;
    position: relative;

}

.app-container{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

/* Navbar */
.navbar-container{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20%;
}
.nav-logo{
    display: block;
    width: 250px; height: 130px;

}

/* ////////FOOTER///////// */  
  .footer-container {
    background-color: transparent; /* Dark background for contrast */
    color: #fff; /* White text for readability */
    display: flex;
    justify-content: space-between; /* Space between the links and social media sections */
    align-items: center;
    height: 50px;
    text-align: center;
    margin-top: auto !important;

  }

  .links{
      display: block;
      position: absolute;
      z-index: 15;  
      background: rgba(89, 89, 89, 0.65);
      width: 100%;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  
  .links a {
    color: rgb(255, 255, 255);
    margin: 0 10px; /* Space between each link */
    text-decoration: none; /* Remove underlines */
    font-size: 1.15rem; /* Increase font size */
    letter-spacing: 0.1cap;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .links a:hover {
    text-decoration: none; /* Underline on hover for accessibility */
    
  }

  .social-media{
    position: absolute;
    z-index: 20;
    display: block;
    bottom: 55px;
    width: 100%;    
  }

  .fb-insta-x a, .music-platforms a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
   
    font-size: 1.7rem;
    margin: 30px 15px;
  }

  .music-platforms a{
    align-items: flex-end;
  }
  
  /* hero */
  .hero-container{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .hero-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

/* ///loader/// */
.my-svg {
  width: 300px; /* change width */
  height: 300px; /* change height */
  stroke-width: 10; /* change stroke width */
  animation: spin 2s linear infinite; /* Apply the spinning animation */
}

.svg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}

@keyframes spin {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.7);
  }
}


/* Shows */
.show-block-parent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55vh;
  flex-direction: column;
  margin-top: 160px;
}

.show-block-parent h1{
  font-size: 4rem;
  color: #6d6c6c;
  text-align: center;
  margin-bottom: 20px;
}

.show-block-container{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.show-block-container p{
  color: white;
  text-align: center;
  font-size: 1.05em;
  margin: 10px 0;
}

.date-concert{
  margin-top: 18px !important;
}

.show-block-container button{
  width: 250px;
  background-color: #ffffff;
  padding: 5px 40px;
  font: inherit;
  border-radius: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  font-size: 0.9em;
  color: #616161;
  letter-spacing: 0.06cap;
}


  

